    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <!--bootstrap 4.0-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    {{!--font awsome--}}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--login JS-->
    <script src="/js/login.js"></script>
    <script src="/js/classes.js"></script>
    <title>Sch00led App</title>