<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 id="mainHeading">Welcome {{name}}</h1>
        </div>
    </div>
    <div class="row">
        <div id="classesEnrolled"class="col-lg-12">
            <h3>Your Classes</h3>
            <ul>
                <!--{{#each class}}
                BELOW LINK WILL TAKE YOU TO THE CLASS VIE TEACHER/STUDENT 
                <li>{{classname}}</li>
                <button class="classPg" id={{classid}} +"button">Class Page</button>
                {{/each}}-->
            </ul>
            <h3>Enrroll</h3>
            <button>See Available Classes</button>
        </div>
        <div class="row">
            <div id="classesEnrolled"class="col-lg-12">
                <button>Create a Class</button>
            </div>
        </div>
    </div>
</div>