
    <div class="container-fluid">

        <div class="jumbotron">
            <h1 class="display-4 text-center"><i class="fas fa-graduation-cap"></i> Sch00led App</h1>
            <p class="lead text-center">Our Class App will make you want to ditch BCS!</p>
            <hr class="my-4">

            <div class="containerForm text-center">

                <div class="form-group">
                    <label for="enter_username">Enter unique username:</label>
                    <input type="text" id="enter_username" name="username" maxlength="15">
                    <br>
                    <label for="enter_name">Enter name:</label>
                    <input type="text" id="enter_name" name="username" maxlength="15">
                    <br>
                    <button class="btn btn-outline-primary" type="submit" id="take_user">Log In<i class="far fa-check-circle"></i></button>
                    <button class="btn btn-outline-primary"  id="signup">New Account<i class="far fa-check-circle"></i></button>
                </div>

            </div>
        </div>
    </div>