<div class="container-fluid">
            <div class="modal fade" id="new-user" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Create a new class!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                              <label for="new-name">Name:</label>
                              <input type="text" id="new_name" name="new-name" maxlength="30">
                              <br>
                              <label for="new-username">username:</label>
                              <input type="text" id="new_username" name="new-username" maxlength="500">
                              </br>
                              <label for="new-password">password:</label>
                              <input type="password" id="new_password" name="new-password" maxlength="15">
                              </br>
                              <div id ="alert-message"></div>
                              <button class="btn btn-outline-success badge-pill" type="submit" id="create-new-user">Create<i class="far fa-check-circle"></i></button>
                              <br>
                              <span id="cannot-create-error"></span>
                          </div>
                  </div>
                  <div class="modal-footer">
                    <a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
                  </div>
                </div>
              </div>
            </div>
    <div id="loginContainer" class="jumbotron">
        <h1 class="display-2 text-center"><i class="fas fa-graduation-cap"></i> Sch00led App</h1>
        <h2 class="subheading text-center">Our app will make you ditch BCS!</h2>

        <div class="containerForm container-fluid text-center col-lg-12">
            <div id="formGroup" class="form-group wrapper col-sm-12 col-md-10 col-lg-6">
                <div class="form-group row">
                    <label class="col-2" for="enter_username">Username:</label>
                    <div class="col-md-10 col-lg-9">
                        <input class="col-lg-12" type="text" id="enter_username" name="username" maxlength="15">
                    </div>
                </div>  
                <div class="form-group row">
                    <label class="col-2" for="enter_name">Password:</label>
                    <div class="col-md-10 col-lg-9">
                        <input class="col-lg-12" type="password" id="enter_password" name="password" maxlength="15">
                    </div>
                </div>
            </div>
            <div id = "alert-message-login"></div>
            <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
                <button type="button" class="btn btn-success badge-pill col-md-12 col-lg-4" type="submit" id="take_user">Log In</button>
                <div id="createUserBtn" class="col-lg-12">
                    <button class="btn btn-success badge-pill crteClass col-sm-12 col-lg-4" type="button" data-toggle="modal" data-target="#new-user">Sign Up</button>
                </div>
            </div>
            
        </div>
    </div>


    <!--MODALS FOR LOGIN ERROR, FOR USER CREATED
    <div id="incorrectlogin" class="modal-body">
    <div class="modal-footer">
      <a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
    </div>
    </div>-->
</div>
