<div class="container-fluid">
    <div id="loginContainer" class="jumbotron">
        <h1 class="display-4 text-center"><i class="fas fa-graduation-cap"></i> Sch00led App</h1>
        <p class="lead text-center">Our class app will make you want to ditch BCS!</p>
        {{!--<hr class="my-1">--}}
        <br>
        <div class="containerForm text-center">
            <div id="formGroup" class="form-group">

                <label for="enter_username">Username:</label>

                <input class="col-sm-6" type="text" id="enter_username" name="username" maxlength="15">

                <br>

                <label for="enter_name">Name:</label>

                <input class="col-sm-6" type="text" id="enter_name" name="username" maxlength="15">

                <br>

                <label for="enter_name">Password:</label>

                <input class="col-sm-6" type="password" id="enter_password" name="password" maxlength="15">

                <br>

                <button type="button" class="btn btn-outline-danger" type="submit" id="take_user">Log In <i class="far fa-check-circle"></i></button>
                <!--ALLOWS ME TO ADD DUMMY DATA FOR NOW-->
                <button type="button" class="btn btn-outline-danger" id="signup">New Account <i class="far fa-check-circle"></i></button>
            </div>
        </div>
    </div>
    <!--MODALS FOR LOGIN ERROR, FOR USER CREATED
    <div id="incorrectlogin" class="modal-body">
		<div class="modal-footer">
			<a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
		</div>
    </div>-->
</div>