<div class="container-fluid">
teacher view
    <!--POST HW MODAL-->
    <div class="modal fade" id="postHwModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Create a new Assignment</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="new-hw-title">Title:</label>
                        <input type="text" id="hw_title" name="new-class-name" maxlength="30">
                        <br>
                        <label for="new-hw-dueDate">Due Date:</label>
                        <input type="text" id="hw_dueDate" name="new-class-desc" maxlength="500">
                        </br>
                        <label for="new-hw-desc">Description:</label>
                        <input type="text" id="hw_description" name="new-class-desc" maxlength="500">
                        </br>
                        <button class="btn btn-outline-info badge-pill" type="submit" id="postNewhw">Create<i class="far fa-check-circle"></i></button>
                        <br>
                        <span id="cannot-create-error"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

    <!--Main body of page-->
    <div id="mainContainer">
        <h1>Class:{{classInfo.classname}}</h1>
        <h3>Teacher:{{classInfo.Teacher.username}}</h3>
       
        <button class="btn btn-info badge-pill crteClass col-sm-12 col-md-6 col-lg-4" type="button" data-toggle="modal" data-target="#postHwModal">Add Assignment</button>
                
        <div>Attendance</div>
    </div>
    

</div>
