html {
    height: 100%;
}

body {
    background-image: url("../imgs/blackboard.jpg");
    background-color: #191516;
    /*position: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    letter-spacing: 3px;
}

button {
    letter-spacing: 3px;
}

button {
    letter-spacing: 3px;
}

input {
    letter-spacing: 3px;
}

.jumbotron {
    border: none;
}

#loginContainer {
    /*background-size: 100%;*/
    color: #fff;
    /*height: 100%;*/
}

.card,
.cardClasses {
    background: #195627;
}

#formGroup {
    /*width: 35%;*/
    margin: 20px auto;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #fff;
    color: #195627;
    margin-top: 20px;
}

.btn-info {
    margin-top: 10px;
    color: black;
}

.btn-success {
    background-color: #195627;
    border-color: #fff;
    margin-top: 10px;
}

.classes {
    color: white;
    margin: auto;
}

#mainHeading {
    color: white;
    margin: 30px;
}

.card {
    width: auto;
}

.badge-pill {
    height: 25%;
}

hr:first-child {
    display: none;
}

hr {
    background-color: #fff;
}

h2 {
    font-size: 250%;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    opacity: 0.75;
    background-color: #195627;
    min-height: 100vh;
}


/* #sidebar i {
    margin-right: 8px;
    margin-left: 4px;
} */

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #195627;
    border-left: 0;
    border-right: 0;
    border-color: #fff;
    white-space: nowrap;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* highlight active menu */

#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}


/* closed state */

#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}


/* open state */

#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}


/* level 1*/

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px;
}


/* level 2*/

#sidebar .list-group .collapse>.collapse .list-group-item,
#sidebar .list-group .collapse>.collapsing .list-group-item {
    padding-left: 30px;
}


/* level 3*/

#sidebar .list-group .collapse>.collapse>.collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    #sidebar.show {
        transform: translateX(0);
    }
    #sidebar::-webkit-scrollbar {
        width: 0px;
    }
    #sidebar,
    #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show,
    #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 170px;
        top: 0;
    }
    #sidebar .list-group>.list-group-item {
        text-align: center;
        padding: .75rem 0.5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group>.list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group>.list-group-item[aria-expanded="false"]::after {
        display: none;
    }
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.fa-bars {
    color: white;
}

main {
    margin: auto;
}

.col-md-3.sidebarWidth {
    max-width: 15%;
}

.sidebarNames {
    padding-right: 5px;
    font-size: 14px;
}

#hwSubmissioncontainer {
    color: #000;
}

#hwSubmissioncontainer {
    color: #000;
}

#userInfo {
    color: #fff;
}

#teacherViewmainHeadings {
    color: #fff;
}

.hwSubmission {
    border: none;
}