body {
    background-image: url("../../imgs/blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    border: 3px;
    border-color: white;
}

#loginContainer {
    /*background-size: 100%;*/
    color: #fff;
    height: 100%;
}

input {
    float: right;
    position: relative;
    width: 120px;
}

#formGroup {
    width: 300px;
    margin: 20px auto;
}

.btn-outline-danger {
    margin-top: 20px;
    width: 135px;
}

#signup {
    margin-left: 25px;
}

.classes {
    width: 300px;
    color: white;
}

#mainHeading {
    color: white;
}