body {
    background-image: url("../../imgs/blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    border: none;
}

#loginContainer {
    color: #fff;
}

h1 {
    color: white;
}

input {
    float: right;
    position: relative;
    width: 120px;
}

#formGroup {
    width: 300px;
    margin: 20px auto;
}

.btn-outline-danger {
    margin-top: 20px;
    width: 135px;
}

#signup {
    margin-left: 25px;
}

#classesEnrolled {
    width: 300px;
    color: #fff;
}